*~
Build/

# cmake temp / cache files
/CMakeCache.txt
Makefile
CMakeFiles
cmake_install.cmake
CMakeLists.txt.user
# executables / libs
/Tools/AddZip
/Tools/BuildSvn
/Tools/MakeZip
/Tools/Streamer
/Rapid/libRapid.a
# python cache files
/Scripts/*.pyc
# codeblocks project file
/RapidTools.cbp
/RapidTools.layout*
# ninja files
/rules.ninja
/build.ninja
/
